---
// Contact page placeholder
---

<html>
  <head>
    <title>Contact - NoticePointBD</title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>Contact form or info will go here.</p>
  </body>
</html>
